body {
    font-family: 'Noto Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

audio {
    position: fixed;
    bottom: 0;
    right: 0;
}

.title {
    color:#b782fd;
    margin-right: 3.5rem;
}

strong{
    color: #994ffa;
}

.head, form, #app{
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}

.todos, .modifiedTodo {
    display : flex;
    justify-content: center;
    align-items: center; 
    align-items: baseline;
    gap: 0.5rem;
    width: 60vw;
    height: 5vh;
    border-radius: 30% 10% 50% 10%;
    text-overflow: fade;
}

.todos {
    background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
    opacity: calc(95%);
    color:#277b8e;
    font-weight: bolder;
}

.todos:nth-child(even) {
    background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
    color:#f3449c;
}

.modifiedTodo {
    background-image: linear-gradient(-225deg, #FF1361 37%, #FFF800 100%);
    color: white;
    font-style: italic;
}

form {
    display: flex;
    justify-content: center;
}

#name {
border:#f3449c 2px solid;
width: 40vw;
background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
color: white;
}

.new-todo {
    display: flex;
    width: 35vw;
    height: inherit;
}

Button {
    cursor: pointer;
    border: none;
    background-color: none;
}

.addBtn, .deleteBtn, .modifyBtn, .validateBtn {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    background-repeat: none;
}
.addBtn {
    background-image: url(../img/add/favicon-32x32.png);
}
.deleteBtn{
    background-image: url(../img/poo/favicon-32x32.png);
}
.modifyBtn{
    background-image: url(../img/modify/favicon-32x32.png);
} 
.validateBtn {
    background-image: url(../img/validate/favicon-32x32.png);
}



/* POUR LE BLOB  */
.slider-thumb::before {
    position: absolute;
    content: "";
    left: 25%;
    top: 20%;
    width: 450px;
    height: 450px;
    background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
}
34%{
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
}
50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
}
67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
}
}





/*
pour les petites lucioles 

  .glowing {
    position: relative;
    min-width: 700px;
    height: 550px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
  }
  
  .glowing:nth-child(even) {
    transform-origin: left;
  }
  
  @keyframes colorChange {
    0% {
      filter: hue-rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
  }
  
  .glowing span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
  }
  
  .glowing span:nth-child(3n + 1)::before {
    background: rgba(134,255,0,1);
    box-shadow: 0 0 20px rgba(134,255,0,1),
      0 0 40px rgba(134,255,0,1),
      0 0 60px rgba(134,255,0,1),
      0 0 80px rgba(134,255,0,1),
      0 0 0 8px rgba(134,255,0,.1);
  }
  
  .glowing span:nth-child(3n + 2)::before {
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
      0 0 40px rgba(255,214,0,1),
      0 0 60px rgba(255,214,0,1),
      0 0 80px rgba(255,214,0,1),
      0 0 0 8px rgba(255,214,0,.1);
  }
  
  .glowing span:nth-child(3n + 3)::before {
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
      0 0 40px rgba(0,226,255,1),
      0 0 60px rgba(0,226,255,1),
      0 0 80px rgba(0,226,255,1),
      0 0 0 8px rgba(0,226,255,.1);
  }
  
  .glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
  }
  
  .glowing span:nth-child(3n + 3) {
    animation: animate 8s alternate infinite; 
  }
  
  @keyframes animate {
    0% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-reverse {
    0% {
      transform: rotate(360deg);
    }
    
    50% {
        transform: rotate(180deg);
      }
      
      100% {
        transform: rotate(0deg);
      }
    }
    */